$def with(params)
$var user: $params['user']
$var privilege: $params['privilege']
$var picture: $params['picture']

<h1>User $params['user']</h1>
<p>Bienvenidos a  Administrador de la ruta en esta pagina podras visualizar, editar<br>
    borrar e ingresar las rutas, paradas, tarifas que corresponda a tu consesionaría<br>
    para materner actualizada la información y poder administrarla mejor </p>
    
    <center>
   
    <img  src="/static/files/servicios1.1.png" height="380" width="500">
    </center>