$def with(params)
$var user: $params['user']
$var privilege: $params['privilege']
$var picture: $params['picture']

<h1>User $params['user']</h1>
<center>
<img src="/static/files/servicios1.1.png"  width="300" height="300" >
<img src="/static/files/admin.jpg"  width="190" height="160" align="left">
<img src="/static/files/c2-tulancingo.jpeg"  width="250" height="160" align="right">
</center>
<img src="/static/files/app-Mobile-testing.png"  width="230" height="120" align="left">
<img src="/static/files/imagen turas.jpg"  width="250" height="160" align="right">
<div>
    <br>
    
<center>
<p>Bienvenidos a  Administrador de la ruta en esta pagina podras visualizar, editar<br>
            borrar e ingresar las rutas, paradas, tarifas que corresponda a tu consesionaría<br>
            para materner actualizada la información y poder administrarla mejor </p>
        </center>
</div>