$def with(params, message)
$var user: $params['user']
$var privilege: $params['privilege']
$var picture: $params['picture']
<br>
<br>
<p>Bienvenidos a  Tulanmap está pagina permite consultar información sobre las rutas<br>
    que se encuentran en la ciudad de Tulancingo, ayudabdo a la población a ubicar<br>
    mejor todos las rutas a su disposición y cual es la más pertitnente para utilizar<br>
    según sea el destino al que desean llegar</p>
    <img src="/static/files/Logo.jpg" alt="este es el logo de Tulanmap">

$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>
