$def with(paradas, message)
<h3>
    <a href="/paradas">paradas</a>
</h3>
$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>
    <br>
<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id_parada" id="id_parada" value="$paradas.id_parada" />

    <div class="form-group">
    <label for="nombre_parada">nombre_parada</label>
    <input required id="nombre_parada" type="text" class="form-control" name="nombre_parada" size="30" value="$paradas.nombre_parada"/>
</div><div class="form-group">
    <label for="activo">activo</label>
    <input required id="activo" type="text" class="form-control" name="activo" size="30" value="$paradas.activo"/>
</div><div class="form-group">
    <label for="id_ruta">id_ruta</label>
    <input required id="id_ruta" type="text" class="form-control" name="id_ruta" size="30" value="$paradas.id_ruta"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
    </div>
</form>
<br>
<br>
<br>