<h3>
    <a href="/paradas">paradas</a>
</h3>
<form action="" method="post" enctype="multipart/form-data">

    <div class="form-group">
    <label for="nombre_parada">nombre_parada</label>
    <input required id="nombre_parada" type="text" class="form-control" name="nombre_parada" size="30"/>
</div><div class="form-group">
    <label for="latitud_parada">latitud_parada</label>
    <input required id="latitud_parada" type="text" class="form-control" name="latitud_parada" size="30"/>
</div><div class="form-group">
    <label for="longitud_parada">longitud_parada</label>
    <input required id="longitud_parada" type="text" class="form-control" name="longitud_parada" size="30"/>
</div><div class="form-group">
    <label for="identificador_p">identificador_p</label>
    <input required id="identificador_p" type="text" class="form-control" name="identificador_p" size="30"/>
</div><div class="form-group">
    <label for="activo">activo</label>
    <input required id="activo" type="text" class="form-control" name="activo" size="30"/>
</div><div class="form-group">
    <label for="id_ruta">id_ruta</label>
    <input required id="id_ruta" type="text" class="form-control" name="id_ruta" size="30"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
</form>
<br>
<br>