$def with(tarifas)
<h3>
    <a href="/tarifas">tarifas</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>tarifas</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        $for item in tarifas:
        <tr>
            <td><a href='/tarifas/view/$item.id_tarifa'>$item.id_tarifa</a></td>
            <td><a href='/tarifas/edit/$item.id_tarifa'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/tarifas/delete/$item.id_tarifa'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>